<h1>My videos</h1>
<div class="pure-g">
	<div class="pure-u-1">
		<table class="pure-table video-list">
			<thead>
				<th>Video</th>
				<th>Date</th>
				<th>Views</th>
				<th>Visibility</th>
				<th></th>
			</thead>
			<tbody>
				{% for video in videos %}
						
					<tr>
						<td width="50%">
							<span>
								<img width="120px" class="video-thumb" src="/api/thumbnail?id={{ video.id }}">
								<a href="/video?id={{ video.id | guidbase64 }}">{{ video.title }}</a>
							</span>
						</td>
						<td>
							<p>{{ video.timestamp | date: "%e %b %Y"}}</p>
						</td>
						<td>
							<p>{{ video.views }}</p>
						</td>
						<td>
							<form class="pure-form" method="post" action="/update_video_privacy?id={{ video.id | guidbase64 }}">
								<select name="video-privacy">
									<option value="0" {% if video.privacyInt == 0 %} selected {% endif %}>Public</option>
									<option value="1" {% if video.privacyInt == 1 %} selected {% endif %}>Organization</option>
									<option value="2" {% if video.privacyInt == 2 %} selected {% endif %}>Unlisted</option>
									<option value="3" {% if video.privacyInt == 3 %} selected {% endif %}>Private</option>
								</select>
								<input type="submit" class="pure-button" value="Update">
							</form>
						</td>
						<td>
							<!--<a class="pure-button" href="/video_statistics?id={{video.id | guidbase64 }}">Statistics</a>-->
							&nbsp;
							<a class="pure-button dangerous-button" href="/delete_video?id={{video.id | guidbase64 }}">Delete Video</a>
						</td>
					</tr>

				{% else %}
				
					<tr>
						<td>
							<p>No videos uploaded yet</p>
						</td>
					</tr>
				
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="pure-u-1">
		<p>Showing videos {{pagination.offset | plus: 1}} - {{pagination.offset | plus: pagination.count}} ({{pagination.totalCount}} total)</p>
	</div>
	{% if pagination.totalCount > pagination.count %}
		<div class="pure-u-1">
			{% for i in pagination.pageNumbers %}
				{% if i == pagination.page %}
					<a href="?page={{i}}" class="pure-button pure-button-active">{{i}}</a>
				{% else %}
					<a href="?page={{i}}" class="pure-button">{{i}}</a>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>
