<h1>My videos</h1>
<div class="pure-g">
	{% for video in videos %}
		<div class="pure-u-1">
			<div class="pure-g">
				<div class="pure-u-1-8">
					<img class="video-thumb pure-img" src="thumb.png">
				</div>
				<div class="pure-u-7-8">
					<p>{{ video.title }}</p>
					<p>{{ video.timestamp | date: "%e %b %Y"}}</p>
				</div>
			</div>
		</div>
	{% else %}
		<div class="pure-u-1">
			<p>No videos uploaded yet</p>
		</div>
	{% endfor %}
	<div class="pure-u-1">
		<p>Showing videos {{pagination.offset | plus: 1}} - {{pagination.offset | plus: pagination.count}} ({{pagination.totalCount}} total)</p>
	</div>
	{% if pagination.totalCount > pagination.count %}
		<div class="pure-u-1">
			{% for i in pagination.pageNumbers %}
				{% if i == pagination.page %}
					<a href="?page={{i}}" class="pure-button pure-button-active">{{i}}</a>
				{% else %}
					<a href="?page={{i}}" class="pure-button">{{i}}</a>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>
